<div *ngIf="pokemon.image">
    <button class="PokemonButton" routerLink="/pokemonDetail/{{pokemon.name}}">
        <img src={{pokemon.image}} alt={{pokemon.name}}>
        <p>{{pokemon.name.replace("-", " ") | titlecase}}</p>
    </button>
</div>