.PokemonButton{
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: none; 
    transition-duration: 2s;  
}

.PokemonButton:hover{
    transition-duration: 0.5s;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow:  5px 5px 10px 2px black; 
    cursor: pointer;
    
}