<img class="logo" src="assets/pokemonlogo2.png" alt="no Image" width="600" height="200">
<div class="container">
    <ul *ngFor="let pokemon of pokemons">
        <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item>
    </ul>
</div>
<button (click)="loadMorePokemon()">More</button>