.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px 40px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    background-color: white;
    font-family: 'Coming Soon', cursive;
    border-radius: 10px;
    
}

button:hover {
    color: white;
    background-color: black;
    font-family: 'Coming Soon', cursive;
    border-radius: 10px;
 
}
