.post-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
}

.types {
  text-align: center;
  justify-content: center;
}

.abilities {
  margin: 30px;
}

.id {
  margin: 30px;
}

.moves {
  margin: 30px;
}

.base_experience {
  margin: 30px;
}

.pokImage {
  position: relative;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.pokImage .img-front {
  background: white;
  border-radius: 100%;
  border: solid black;
  position: relative;
}
.pokImage:hover .img-front {
  display: block;
  background: white;
  border-radius: 100%;
  border: solid black;
  position: relative;
  visibility: hidden;
  display: none;
}

.pokImage .img-back {
  display: none;
  visibility: hidden;
}
.pokImage:hover .img-back {
  display: block;
  background: white;
  border-radius: 100%;
  border: solid black;
  position: relative;
  visibility: visible;
}
