<h1 class="title">{{pokemonInfo.name.replace("-", " ") | titlecase}}</h1>
<div class="pokImage">
    <img src={{pokemonInfo.sprites.front_default}} class="img-front" alt="card-front">
    <img src={{pokemonInfo.sprites.back_default}} class="img-back" alt="card-back">
</div>

<div class="types">
    <h2>Types:</h2>
    <div *ngFor="let pokemon of pokemonInfo.types">
        <p>{{pokemon.type.name | titlecase}}</p>
    </div>
</div>

<div class="post-list">

    <div class="abilities">
        <h2>Abilities:</h2>
        <div *ngFor="let pokemon of pokemonInfo.abilities">
            <p>{{pokemon.ability.name | titlecase}}</p>
        </div>
    </div>

    <div class="base_experience">
        <h2>Base experience: </h2>
        <p>{{pokemonInfo.base_experience}}</p>
        <h2>Height</h2>
        <p>{{pokemonInfo.height}} cm</p>
        <h2>Weight</h2>
        <p>{{pokemonInfo.weight}} kg</p>
    </div>

    <div class="id">
        <h2>Id: </h2>
        <p>{{pokemonInfo.id}}</p>
    </div>

    <div class="moves">
        <h2>Moves:</h2>
        <div *ngFor="let pokemon of pokemonInfo.moves">
            <p>{{pokemon.move.name.replace("-", " ") | titlecase}}</p>
        </div>
    </div>
</div>