/* You can add global styles to this file, and also import other style files */
body{
    background: url(../src/assets/pokémon-grass.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}